</div>
<script>
  var menu = document.getElementById("menu");
  function closemenu() {
    menu.style.top = "-100vh";
  }
  function openmenu() {
    menu.style.top = "0";
  }
</script>
</body>

</html>