<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dope Web</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/study.css">
  <script src="https://kit.fontawesome.com/ff14eec93e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div>
    <div class="container">
      <div class="navbar">
        <nav id="menu">
          <button type="submit" class="login-btn"><a href="/login">Login</a></button>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/newsletter">Newsletter</a></li>
          </ul>
          <img src="/images/cross.png" class="close-icon" alt="close-icon" onclick="closemenu()">
        </nav>
        <img src="/images/menu.png" class="menu-icon" alt="menu-icon" onclick="openmenu()">
      </div>