<%- include('partials/header')%>
  <button type="submit" class="login-home-btn"><a href="/login">Login</a></button>

  <h2>Dipesh Patil. <br><span>Hey There, Thank you for Visiting me.</span></h2>
  <%- include('partials/footer')%>